.idea/
*.iml
out/
*.pyc
cpp/tctrlcpp/Debug/
cpp/tctrlcpp/.vs/
build-qtctrl-Desktop_Qt_5_9_1_MSVC2017_64bit-Debug/
*.pro.user
*.user
*.autosave
cpp/tctrlcpp/x64/
*.VC.db
cpp/tctrlcpp/tctrlcpp.VC.VC.opendb
